<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Vapeur</title>
</head>
<body>
    <h1>Bienvenue sur Vapeur</h1>
    <ul>
        {{#each jeux}}
            <li>{{titre}}</li>
        {{/each}}
    </ul>
</body>
</html>