{{!-- Layout principal: inclut l'entête, le menu et le contenu de page --}}
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Vapeur</title>
        <link rel="stylesheet" href="/css/global.css" />
    </head>
    <body>
        {{!-- En-tête du site et navigation principale --}}
        <header>
            <nav>
                <a href="/">Accueil</a> |
                <a href="/jeux">Jeux</a> |
                <a href="/editeurs">Éditeurs</a> |
                <a href="/genres">Genres</a>
            </nav>
        </header>
        {{!-- Contenu spécifique à chaque page --}}
        {{{ body }}}

        {{!-- Pied de page --}}
        <footer>
            <p>&copy; 2025 Vapeur</p>
        </footer>
    </body>
</html>