<h1>Créer un nouvel éditeur</h1>
<form action="/editeurs" method="POST">
    <label for="nom">Nom:</label>
    <input type="text" id="nom" name="nom" required minlength="1" />

    <button type="submit">Créer l'éditeur</button>
</form>

<a href="/editeurs">Annuler</a>