<h1>Supprimer {{editeur.nom}}</h1>
<p>Êtes-vous sûr de vouloir supprimer cet éditeur ? Cette action est irréversible.</p>
<form action="/editeurs/suppression/{{editeur.id}}" method="POST">
    <button type="submit">Confirmer la suppression</button>
    <button><a href = "/editeurs/{{editeur.id}}">Annuler</a></button>
</form>